<footer class="container-fluid p-5">
    <div class="row">
        <div class="col-lg-2 box">
            <ul>
                <li><a routerLink="/">Paquete VIP</a></li>
                <li><a routerLink="/">Descarga la App</a></li>
                <li><a routerLink="/">Nosotros</a></li>
                <li><a routerLink="/">Contacto</a></li>
            </ul>
        </div>
        <div class="col-lg-2 box">
            <ul>
                <li><a routerLink="/">Empleos</a></li>
                <li><a routerLink="/">Blog</a></li>
                <li><a routerLink="/">Soporte</a></li>
                <li><a routerLink="/">Afiliados</a></li>
            </ul>
        </div>
        <div class="col-lg-2 box">
            <ul>
                <li><a routerLink="/">Terminos</a></li>
                <li><a routerLink="/">Politica de Privacidad</a></li>
                <li><a routerLink="/">Mapa de sitio</a></li>
            </ul>
        </div>
        <div class="col-lg-6 d-flex custom--justify box mb-4">
            <div class="button--wrap">
                <button class="btn btn-outline-light btn-lg"><i class="bi bi-globe2 mr-1"></i> <span>Español</span></button>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="footer--brand">
                <h4>Academy.com</h4>
            </div>
        </div>
        <div class="col-lg-6 custom--justify d-flex">
            <div class="footer--brand">
                <h6>© 2021 Academy, Inc</h6>
            </div>
        </div>
    </div>
</footer>