input {
    font-family: 'Poppins' !important;
}
//, input::-webkit-input-placeholder, input::-moz-placeholder, input:-moz-placeholder, input::-ms-input-placeholder
input::placeholder {
    font-family: 'Poppins' !important;
}
.container-fluid {
    //height: 100%;
}
@media screen and (max-width:991px) {
    .container-fluid {
        height: inherit !important;
    }
}