<section id="classroom" class="d-flex flex-column">
    <div class="">
        <app-course-navbar></app-course-navbar>
    </div>
    <div class="content">
        <div id="courseRender" class="d-flex">
            <div id="main" class="col-lg-9">
                <div class="clip">
                    <video controls class="video">
                        <source src="../../assets/video/demo.mp4" type="video/mp4">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, aliquid.</p>
                    </video>
                </div>
            </div>
            <div id="sideMenu" class="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ipsum dolor sunt soluta corrupti?</p>
            </div>
        </div>
    </div>
</section>