<app-navbar class="light--navbar"></app-navbar>
<section  id="profileHeader" class="container-fluid flex-1">
    <div class="container">
        <h2 class="p-2">Mi Aprendizaje</h2>
        <div class="col-sm-12 col-lg-6">
            <div class="tabs">
                <ul id="cursosTotales" class="d-flex">
                    <li class="active"><h4>Todos</h4></li>
                    <li class=""><h4>Completados</h4></li>
                    <li class=""><h4>Carrito</h4></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid p-5">
    <div class="container">
        <div class="courses--scroll--wrap w-100 mt-5">
            <div class="scroll--wrap">
                <ul class="flex-wrap">
                    <li class="course">
                        <a routerLink="/course">
                            <div class="course--img border f-center">
                                <img src="https://images.pexels.com/photos/5980856/pexels-photo-5980856.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                            </div>
                            <h5 class="title mt-2">Lorem ipsum dolor sit</h5>
                            <small class="author mb-1">Lorem, ipsum.</small>
                            <div class="rating d-flex mb-3">
                                <small class="points mr-1"><b>5</b></small>
                                <small class="stars d-flex mr-1">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </small>
                                <small class="students">(1,597)</small>
                            </div>
                            <!-- <small class="is--bestseller p-2">
                                bestseller
                            </small> -->
                        </a>
                    </li>

                    <li class="course">
                        <a routerLink="/">
                            <div class="course--img border f-center">
                                <img src="https://images.pexels.com/photos/6802042/pexels-photo-6802042.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                            </div>
                            <h5 class="title mt-2">Lorem ipsum dolor sit</h5>
                            <small class="author mb-1">Lorem, ipsum.</small>
                            <div class="rating d-flex mb-3">
                                <small class="points mr-1"><b>5</b></small>
                                <small class="stars d-flex mr-1">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </small>
                                <small class="students">(1,597)</small>
                            </div>
                            <small class="is--bestseller p-2">
                                bestseller
                            </small>
                        </a>
                    </li>

                    <li class="course">
                        <a routerLink="/">
                            <div class="course--img border f-center">
                                <img src="https://images.pexels.com/photos/4581902/pexels-photo-4581902.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                            </div>
                            <h5 class="title mt-2">Lorem ipsum dolor sit</h5>
                            <small class="author mb-1">Lorem, ipsum.</small>
                            <div class="rating d-flex mb-3">
                                <small class="points mr-1"><b>5</b></small>
                                <small class="stars d-flex mr-1">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </small>
                                <small class="students">(1,597)</small>
                            </div>
                            <small class="is--bestseller p-2">
                                bestseller
                            </small>
                        </a>
                    </li>

                    <li class="course">
                        <a routerLink="/">
                            <div class="course--img border f-center">
                                <img src="https://images.pexels.com/photos/2911521/pexels-photo-2911521.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                            </div>
                            <h5 class="title mt-2">Lorem ipsum dolor sit</h5>
                            <small class="author mb-1">Lorem, ipsum.</small>
                            <div class="rating d-flex mb-3">
                                <small class="points mr-1"><b>5</b></small>
                                <small class="stars d-flex mr-1">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </small>
                                <small class="students">(1,597)</small>
                            </div>
                            <!-- <small class="is--bestseller p-2">
                                bestseller
                            </small> -->
                        </a>
                    </li>

                    <li class="course">
                        <a routerLink="/course">
                            <div class="course--img border f-center">
                                <img src="https://images.pexels.com/photos/2061168/pexels-photo-2061168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                            </div>
                            <h5 class="title mt-2">Lorem ipsum dolor sit</h5>
                            <small class="author mb-1">Lorem, ipsum.</small>
                            <div class="rating d-flex mb-3">
                                <small class="points mr-1"><b>5</b></small>
                                <small class="stars d-flex mr-1">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </small>
                                <small class="students">(1,597)</small>
                            </div>
                            <small class="is--bestseller p-2">
                                bestseller
                            </small>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
