<section class="container-fluid overflow-hidden">
    <app-navbar class="home--nav--wrap"></app-navbar>
    <div id="headContent" class="container h-100">
        <div class="content f-center flex-column h-100 p-4 text-center">
            <h1>Conviertete en experto en criptomonedas</h1>
            <h4>Aprende sobre inversiones, mineria, desarrollo de aplicaciones en la blockchain y NFTs</h4>
            <button class="btn btn-primary btn-lg mt-4">Enroll</button>
        </div>
    </div>
</section>
<section id="statistics" class="container-fluid p-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 f-center flex-column">
                <h1>5</h1>
                <h5>CURSOS</h5>
            </div>
            <div class="col-sm-4 f-center flex-column">
                <h1>137,500</h1>
                <h5>ESTUDIANTES</h5>
            </div>
            <div class="col-sm-4 f-center flex-column">
                <h1>27</h1>
                <h5>PAISES</h5>
            </div>
        </div>
    </div>
</section>
<!-- courses summary-->
<section class="container-fluid p-5">
    <div class="content mb-4">
        <div class="title">
            <h2>A broad selection of courses</h2>
        </div>
        <div class="subtitle">
            <h4>Choose from 155,000 online video courses with new additions published every month</h4>
        </div>
    </div>
    <div class="content mt-5">
        <!-- <div class="tabs">
            <ul>
                <li><h5>Ver todo</h5></li>
                <li><h5>Inversiones</h5></li>
                <li><h5>Trading</h5></li>
                <li><h5>Programacion</h5></li>
                <li><h5>NFTs</h5></li>
                <li><h5>Mineria</h5></li>
            </ul>
        </div> -->
        <div class="courses--wrap border p-4">
            <div class="title"><h3>Lorem ipsum dolor sit amet.</h3></div>
            <div class="subtitle">
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora amet dicta tenetur?</h5>
            </div>
            <div class="button--wrap">
                <button class="btn btn-primary btn-lg">Click here</button>
            </div>
            <div class="courses--scroll--wrap w-100 mt-5">
                <div class="scroll--wrap">
                    <ul class="flex-wrap">
                        <li class="course">
                            <a routerLink="/">
                                <div class="course--img border f-center">
                                    <img src="https://images.pexels.com/photos/5980856/pexels-photo-5980856.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                                </div>
                                <h5 class="title mt-2">Lorem ipsum dolor sit</h5>
                                <small class="author mb-1">Lorem, ipsum.</small>
                                <div class="rating d-flex mb-3">
                                    <small class="points mr-1"><b>5</b></small>
                                    <small class="stars d-flex mr-1">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </small>
                                    <small class="students">(1,597)</small>
                                </div>
                                <!-- <small class="is--bestseller p-2">
                                    bestseller
                                </small> -->
                            </a>
                        </li>

                        <li class="course">
                            <a routerLink="/">
                                <div class="course--img border f-center">
                                    <img src="https://images.pexels.com/photos/6802042/pexels-photo-6802042.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                                </div>
                                <h5 class="title mt-2">Lorem ipsum dolor sit</h5>
                                <small class="author mb-1">Lorem, ipsum.</small>
                                <div class="rating d-flex mb-3">
                                    <small class="points mr-1"><b>5</b></small>
                                    <small class="stars d-flex mr-1">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </small>
                                    <small class="students">(1,597)</small>
                                </div>
                                <small class="is--bestseller p-2">
                                    bestseller
                                </small>
                            </a>
                        </li>

                        <li class="course">
                            <a routerLink="/">
                                <div class="course--img border f-center">
                                    <img src="https://images.pexels.com/photos/4581902/pexels-photo-4581902.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                                </div>
                                <h5 class="title mt-2">Lorem ipsum dolor sit</h5>
                                <small class="author mb-1">Lorem, ipsum.</small>
                                <div class="rating d-flex mb-3">
                                    <small class="points mr-1"><b>5</b></small>
                                    <small class="stars d-flex mr-1">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </small>
                                    <small class="students">(1,597)</small>
                                </div>
                                <small class="is--bestseller p-2">
                                    bestseller
                                </small>
                            </a>
                        </li>

                        <li class="course">
                            <a routerLink="/">
                                <div class="course--img border f-center">
                                    <img src="https://images.pexels.com/photos/2911521/pexels-photo-2911521.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                                </div>
                                <h5 class="title mt-2">Lorem ipsum dolor sit</h5>
                                <small class="author mb-1">Lorem, ipsum.</small>
                                <div class="rating d-flex mb-3">
                                    <small class="points mr-1"><b>5</b></small>
                                    <small class="stars d-flex mr-1">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </small>
                                    <small class="students">(1,597)</small>
                                </div>
                                <!-- <small class="is--bestseller p-2">
                                    bestseller
                                </small> -->
                            </a>
                        </li>

                        <li class="course">
                            <a routerLink="/">
                                <div class="course--img border f-center">
                                    <img src="https://images.pexels.com/photos/2061168/pexels-photo-2061168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                                </div>
                                <h5 class="title mt-2">Lorem ipsum dolor sit</h5>
                                <small class="author mb-1">Lorem, ipsum.</small>
                                <div class="rating d-flex mb-3">
                                    <small class="points mr-1"><b>5</b></small>
                                    <small class="stars d-flex mr-1">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </small>
                                    <small class="students">(1,597)</small>
                                </div>
                                <small class="is--bestseller p-2">
                                    bestseller
                                </small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="vipSection" class="container-fluid p-5">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-6">
            <div class="content mb-4 flexflow-column h-100">
                <div class="title mt-3">
                    <h2>Obten el paquete completo</h2>
                </div>
                <div class="subtitle">
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi facilis expedita!</h4>
                </div>
                <div class="feature--list flex-1 align-items-center d-flex">
                    <ul>
                        <li><h4><i class="bi bi-check2-circle mr-1"></i> <span>Acceso VIP por 3 años</span></h4></li>
                        <li><h4><i class="bi bi-cart3 mr-1"></i> <span>Descuentos preferenciales en eventos extracurriculares</span></h4></li>
                        <li><h4><i class="bi bi-megaphone mr-1"></i> <span>Acceso garantizado a todos los cursos futuros</span></h4></li>

                    </ul>
                </div>
                <div class="button--wrap">
                    <button class="btn btn-success btn-lg"><i class="bi bi-gem"></i> Quiero el paquete VIP</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-6">
            <div class="content">
                <div class="premium--img">
                    <img src="../../assets/img/vip.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testimonials" class="container-fluid p-5">
    <div class="content text-center">
        <h2>Nuestros graduados hablan por nosotros</h2>
    </div>
    <div class="container">
        <div class="content">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner text-center">
                  <div class="carousel-item active">
                    <div class="f-center flex-column p-5">
                        <h4 class="d-flex rating">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </h4>
                        <h4 class="comment">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus beatae earum modi sequi?</h4>
                        <h4><b>Emilia Clarke</b></h4>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="f-center flex-column p-5">
                        <h4 class="d-flex rating">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </h4>
                        <h4 class="comment">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus beatae earum modi sequi?</h4>
                        <h4><b>Vicente Gonzalez</b></h4>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="f-center flex-column p-5">
                        <h4 class="d-flex rating">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </h4>
                        <h4 class="comment">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus beatae earum modi sequi?</h4>
                        <h4><b>Daniela Ramos</b></h4>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>
</section>
